.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.form {
  position: absolute;
  top: 30%;
  left: 50%;
  width: 40%;
  transform: translate(-50%,-50%);
}

.btn-file-upload{
  width: auto;
  position:absolute; 
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
  overflow-x:auto;
  word-wrap:break-word;
  
}
 
table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
  text-align: center;
  caption-side: top;
}


table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
  width: 100%;
}

table th,
table td {
  text-align: center;
}
